In [1]:
#What is the data type of the result of: 6 / 2 ?
a=6/2
type(a)

float

In [2]:
# What is the type of the result of: 6 // 2 ? (Note the double slash // .)
a=6//2
type(a)

int

In [3]:
# What is the type of the result of: "Hello, World!"
a="Hello,World!"
type(a)

str

In [4]:
# What is the type of the result of: "hello" == "world"
a=("hello"=="world")
type(a)

bool

In [5]:
#Write the code to convert the following number representing employeeid "1001" to an integer
emid="1001"
b=int(emid)
type(b)

int

In [6]:
# Write the code to convert this number representing financial value "1234.56" to a floating point number
fid="1234.56"
b=float(fid)
type(b)

float

In [7]:
# Write the code to convert this phone number 123-456-7890 to a string
a=str(123-456-7890)
type(a)

str